<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300643736688-15h83peoglvrm65gvg640be1cqq3o3qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300643736688-15h83peoglvrm65gvg640be1cqq3o3qp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300643736688-eu32gu2030rc30flrc0hucmclm614v7t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdI325hcdlDA_VIAtfcA9i1hAQnvAuZsY</string>
	<key>GCM_SENDER_ID</key>
	<string>300643736688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ileaf.fooddelivery.foodieapp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-5ff8c</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-5ff8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300643736688:ios:97a458376f9ac2db4b28b5</string>
	<key>DATABASE_URL</key>
	<string>https://food-delivery-app-5ff8c-default-rtdb.firebaseio.com</string>
</dict>
</plist>